

.about_header{
  padding: 49px 0px 0px 27px;
  font-size: 20px;	
  font-weight: 600;	
  line-height: 22px;
}

.about_content{
  padding: 87px 27px 0px 27px;
  color: #CCD4DC;	
  font-family: Raleway;	
  font-size: 15px;	
  font-weight: 500;	
  line-height: 24px;
}

